* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: #f3f3f3;
    padding-top: 71px;
    height: 900px;
    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    user-select:none;
}

.top {
    z-index: 2;
    background-color: white;
    width: 100%;
    position: fixed;
    height: 70px;
    top: 0;
}

.top .back {
    width: 58px;
    height: 18px;
    position: absolute;
    top: 30px;
    left: 10px;
    background: url("https://fycoder.oss-cn-hangzhou.aliyuncs.com/web/xiyan/back.png");
    background-size: 100%;
}

.back a {
    display: inline-block;
    width: 29px;
    height: 18px;
    float: left;
}

.top .center {
    width: 300px;
    height: 35px;
    line-height: 35px;
    margin: 20px auto;
    text-align: center;
}

.top .center p {
    font-size: 20px;
    line-height: 30px;
    color: #000;
}

.top .tool {
    background: url("https://fycoder.oss-cn-hangzhou.aliyuncs.com/web/xiyan/tool.png") no-repeat;
    background-size: 100%;
    width: 75px;
    height: 35px;
    position: absolute;
    top: 25px;
    right: 20px;
}

.top .tool a {
    display: inline-block;
    width: 35px;
    height: 35px;
    float: left;
}

.mid form div {
    width: 100%;
    height: 40px;
    background-color: #fff;
    margin-top: 1px;
    line-height: 40px;
    box-sizing: border-box;
}

.mid form label {
    margin-left: 20px;
    font-size: 13px;
}

.mid form input {
    border: none;
    height: 20px;
    width: 60%;
    background-color: #fff;
}

.mid form div a {
    display: inline-block;
    width: 100%;
    height: 40px;
    text-decoration: none;
    color: #000;
    z-index: 2;
}

.mid form #detailed_address {
    display: inline-block;
    font-size: 13px;
    line-height: 40px;
    color: #787878;
}

.mid form div a p:last-child {
    float: right;
    display: inline-block;
    color: #000000;
    margin-right: 20px;
}

.mid form #default_address {
    width: 100%;
    background-color: #fff;
    height: 100px;
}

.mid form #default_address #button1 {
    height: 15px;
    margin-top: 13px;
    margin-left: 20px;
    width: 15px;
    background: url("https://fycoder.oss-cn-hangzhou.aliyuncs.com/web/xiyan/11.qrdd/circle.png");
    background-size: 100%;
    display: inline-block;
    float: left;
}

.mid form #default_address p {
    line-height: 40px;
    float: left;
    display: inline-block;
    margin-top: 0;
    margin-left: 10px;
    font-size: 13px;
}

.mid form #savebox {
    width: 100%;
    height: 40px;
    margin: 15px 0;
    float: left;
    position: relative;
}

.mid form #savebox #save {
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #000000;
    font-size: 13px;
    color: #fff;
    position: absolute;
    left: 50%;
    margin-left: -40px;
}

.mid #commodity li {
    width: 100%;
    height: 100px;
    overflow: hidden;
    background-color: #fff;
    margin-top: 5px;
    box-sizing: border-box;
}

.mid #commodity li .img {
    width: 30%;
    height: 100px;
    display: inline-block;
    box-sizing: border-box;
    float: left;
    padding-left: 20px;
}

.mid #commodity li img {
    width: 70px;
    height: 80px;
    margin-top: 10px;
}

.mid #commodity li p {
    line-height: 20px;
}

.mid #commodity li .right {
    float: left;
    position: relative;
    width: 70%;
    height: 100px;
    display: inline-block;
    box-sizing: border-box;

}

.mid #commodity li .right .brand {
    margin-top: 5px;
    font-size: 15px;
}

.mid #commodity li .right .name {
    font-size: 13px;
}

.mid #commodity li .right .already {
    font-size: 12px;
    color: #666666;
}

.mid #commodity li .right .price {
    font-size: 13px;
}

.mid #commodity li .right .number {
    display: inline-block;
    width: 40px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    bottom: 15px;
    right: 20px;
    font-size: 12px;
}

.mid #fee {
    width: 100%;
    height: 60px;
    background-color: #fff;
    margin-top: 10px;
}

.mid #fee div {
    width: 100%;
    height: 20px;
    margin-top: 5px;
    float: right;
}

.mid #fee .left {
    display: inline-block;
    float: left;
    margin-left: 20px;
    height: 40px;
    line-height: 20px;
    font-size: 14px;
}

.mid #fee .right {
    display: inline-block;
    float: right;
    margin-right: 20px;
    height: 40px;
    line-height: 20px;
    font-size: 12px;
    color: #919191;
}

#pay_way {
    width: 100%;
    height: 60px;
    background-color: #fff;
    margin-top: 5px;
}

#pay_way p:first-child {
    /*width: 100%;*/
    height: 20px;
    margin-left: 20px;
    font-size: 15px;
    line-height: 30px;
    margin-top: 5px;
}

#pay_way p:last-child {
    /*width: 100%;*/
    height: 20px;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 12px;
    color: #919191;
    line-height: 20px;
}

#yz {
    width: 100%;
    height: 30px;
}

#yz p {
    line-height: 30px;
    color: #C09E49;
    font-size: 12px;
}

#yz p:first-child {
    float: left;
    margin-left: 20px;
}

#yz p:last-child {
    float: right;
    margin-right: 20px;
    font-size: 15px;
}

#pay {
    width: 100%;
    height: 110px;
    background-color: #fff;
}

#pay div {
    width: 100%;
    height: 30px;
    margin-top: 5px;
    float: right;
}

#pay div p {
    display: inline-block;
    line-height: 30px;
    font-size: 13px;
    margin-left: 20px;
}

#pay div p:nth-child(2) {
    font-size: 10px;
    color: #919191;
    margin-left: 10px;
}

#pay .button_box {
    width: 35px;
    height: 20px;
    float: right;
    margin-right: 20px;
    border-radius: 10px;
    border: none;
    position: relative;
    box-sizing: border-box;
    transition: all 0.5s;
    background-color: #D3B66F;
}

#pay .button_box .circle_button {
    height: 19px;
    width: 19px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid #a2a2a2;
    border-radius: 10px;
    background-color: #fff;
    transition: all 0.5s;

}

#pay div img {
    margin-left: 20px;
    height: 20px;
    margin-top: 5px;
    width: auto;
}

#pay div .button {
    float: right;
    margin-right: 20px;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid #a2a2a2;
    background-size: 100%;
}

#tip_box {
    width: 100%;
    height: 40px;
    background-color: #fff;
    margin-top: 5px;
    line-height: 40px;
    box-sizing: border-box;
}

.ps {
    width: 100%;
    height: 30px;
    margin-top: 5px;
}

.ps p {
    margin: 0 20px;
    color: #888888;
    font-size: 10px;
}

#bottom {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    background-color: #fff;

}

#bottom .left {
    width: 70%;
    height: 50px;
    display: inline-block;
    margin: 0;
}

#bottom .left p {
    margin-left: 20px;
    line-height: 50px;
}

#bottom .right {
    height: 50px;
    margin: 0;
    width: 30%;
    float: right;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    background-color: #000;
    color: #ffffff;
}
