* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    user-select: none;
    background-color: #f3f3f3;
}

.top {
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: #fff;
    top: 0;
    z-index: 3;
}

.top .back {
    width: 58px;
    height: 18px;
    position: absolute;
    top: 30px;
    left: 10px;
    background: url("../img/back.png");
    background-size: 100%;
}

.top .back a {
    display: inline-block;
    width: 29px;
    height: 18px;
    float: left;
}

.top .center {
    width: 80px;
    height: 35px;
    margin: 20px auto;
    text-align: center;
}

.top .center p:first-child {
    font-size: 20px;
    line-height: 35px;
    color: #000;
}


.top .tool {
    background: url("../img/tool.png") no-repeat;
    filter: alpha(opacity=50);
    background-size: 100%;
    width: 75px;
    height: 35px;
    position: absolute;
    top: 25px;
    right: 20px;
}

.top .tool a {
    display: inline-block;
    width: 35px;
    height: 35px;
    float: left;
}
.mid {
    width: 100%;
    height: 100px;
    margin-top: 85px;
    background-color: #fff;
}
.mid .logo{
    display: inline-block;
    width: 40px;
    height: 30px;
    margin: 35px;
    background-image: url(../img/wl.png);
    background-size: cover;
    float: left;
}
.mid p{
    display: inline-block;
    line-height: 100px;
}